<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pablotoledo.airsendtfg">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name=".Inicial"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menuDebug"
            android:label="@string/title_activity_menu_debug"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LicenciaActivity"
            android:label="@string/title_activity_licencia"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Instalacion"
            android:label="@string/confInicialAirsend"
            android:launchMode="singleInstance"
            android:theme="@style/CustomActionBarTheme" />
        <activity
            android:name=".MenuPrincipal"
            android:label="@string/title_activity_menu_principal"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EnviarDatos"
            android:icon="@drawable/logo"
            android:label="@string/title_activity_enviar_datos"
            android:theme="@style/CustomActionBarTheme" />
        <activity
            android:name=".RecibirDatos"
            android:label="@string/title_activity_recibir_datos"
            android:theme="@style/CustomActionBarTheme"></activity>
    </application>

</manifest>
